.CardToolsContent {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0.3rem 1rem;
    gap: .5rem;
    background: var(--gray-900);
    border-radius: .25rem;
}

.CardToolsContent img {
    width: 1.5rem;
}

.CardToolsContent p {
    font-family: 'Martian Mono', sans-serif;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 400;
    color: var(--gray-100);
}