.header {
    display: flex;
    align-items: center;

    padding-block: 1rem;
    margin-inline: auto;
    --max-width: 375px;
    width: min(var(--max-width), 100% - 1.5rem * 2);
    border-bottom: 1px solid var(--gray-100);
}

.logoHeader {
    font-size: 1rem;
    font-weight: 700;
    margin-right: auto;
}

.headerNavList {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    list-style-type: none;
}

.headerNavList a {
    font-family: 'Martian Mono', sans-serif;
    text-decoration: none;
    color: var(--gray-900);
    font-weight: 500;
    font-size: 0.775rem;
    padding: .2rem 1rem;
    text-transform: uppercase;

    &.active {
        color: var(--gray-300);
        border-bottom: 2px solid var(--green-300);
        background: var(--gray-900);
        border-radius: .25rem;
        
    }
}

.headerButton {
    background: var(--gray-900);
    font-family: 'Martian Mono', sans-serif;
    color: var(--gray-300);
    font-weight: 500;
    font-size: .875rem;
    padding: .8rem .5rem;
    text-transform: uppercase;



    border: 0;
    border-radius: 0 18px;
    cursor: pointer;
}

.headerButton:hover {
    color: var(--white);
}

.desktopOnly {
    display: none;
}

@media(width >= 45rem) {
    .header {
        --max-width: 80rem
    }

    .title{
        font-size: 1.5rem;
    }

    .desktopOnly {
        display: inline;
    }
}    



