.header {
    display: flex;
    align-items: center;

    padding-block: 1rem;
    margin-inline: auto;
    --max-width: 375px;
    width: min(var(--max-width), 100% - 1.5rem * 2);
}

.logoHeader {
    font-size: 1rem;
    font-weight: 700;
    margin-right: auto;
}

.headerNavList {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    list-style-type: none;
}

.headerNavList a {
    text-decoration: none;
    color: var(--green-500);
    font-weight: 700;
}

.headerButton {
    background: var(--gray-900);
    color: var(--gray-100);
    font-size: 0.875rem;

    padding-inline: .5rem;
    padding-block: 1rem;

    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.headerButton:hover {
    color: var(--white);
    background-color: var(--gray-700);
}

.desktopOnly {
    display: none;
}

@media(width >= 45rem) {
    .header {
        --max-width: 80rem
    }

    .title{
        font-size: 1.5rem;
    }

    .desktopOnly {
        display: inline;
    }
}