

.descriptionSkill {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;

    border-radius: 8px;

    background: #000000;
    color: var(--gray-100);
}

.title {
    font-size: 2rem;
    line-height: 1; 
    color: var(--green-500);
}

.text {
    font-size: 1rem;
    text-align: start;
    line-height: 1.75rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.buttonLeft {
    background: var(--black);
    color: var(--white);
    border: 0;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
}

.avatar {
    width: 200px;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 6px 5px 20px #00000080;
}

@media (width >= 45rem) {

 

    .content {
        max-width: 40rem;
    }

    .title {
        font-size: 3rem;
    }

    .text {
        font-size: 1.2rem;
    }

    .buttons {
        justify-content: start;
    }
}


.cardSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    width: min(375px, 100% - 1.5rem * 2);
    padding-block: 4rem;
}

.cardSection h2, p {
    text-align: start;
}


.textSection{
    text-align: center;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardToolsContent {
    display: flex;
    width: min(375px, 100% - 1.5rem * 2);
    align-items: center;
    gap: 1rem;
    margin: auto;
    flex-wrap: wrap;
}

.cardToolsSection{
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
    gap: 2rem;
}

@media (width >= 45rem) {
    .cardToolsContent {
        width: min(80rem, 100% - 1.5rem * 2);
    }
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
    color: var(--white);
    background: var(--gray-600);
}

.footerContent a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}