.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionProfile {
    display: flex;
    max-width: 75.5rem;
    padding: 4rem 0;
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.descriptionSkill {
    width: max-content;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 8px;
    background: #1976d2;
    color: var(--gray-100);
}

.title {
    max-width: 55rem;
    font-size: 3rem;
    line-height: 1; 
}

.text {
    font-size: 1.15rem;
    max-width: 53rem;
    line-height: 1.75rem;
}

.buttons {
    display: flex;
    gap: 1.25rem;
}

.buttonLeft {
    background: var(--black);
    color: var(--white);
    border: 0;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
}

.buttonRightStyle {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.buttonRight {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.avatar {
    width: 200px;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 6px 5px 20px #00000080;
}


.cardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    gap: 2.5rem;
    background: var(--gray-100);
}

.cardSection p {
    max-width: 41rem;
}

.contentCard {
    display: flex;
    gap: 1rem;
}

.textSection{
    text-align: center;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardToolsContent {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cardToolsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75.5rem;
    padding: 4rem 0;
    gap: 2rem;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
    color: var(--white);
    background: var(--gray-600);
}

.footerContent a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}